#langchain
streamlit
ibm_watson_machine_learning
pypdf
sentence-transformers
chromadb
watchdog
#langchain-ibm
#langchain-community
python-docx 
python-pptx
huggingface-hub
PyYAML
watchdog
beautifulsoup4
pandas
python-dotenv
faiss-cpu
langchain==0.1.16
langchain-community==0.0.41
langchain-ibm==0.1.5
